-- Create membership_plans table
CREATE TABLE public.membership_plans (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name TEXT UNIQUE NOT NULL, -- e.g. "Standard", "Premium", "Patron"
    label TEXT NOT NULL,
    price INTEGER NOT NULL,
    features TEXT[] NOT NULL DEFAULT '{}',
    level INTEGER NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Seed initial data
INSERT INTO public.membership_plans (name, label, price, features, level) VALUES
('Standard', 'मानक सदस्यता (Standard)', 1000, ARRAY['आजीवन सदस्यता', 'ई-पत्रिका का उपयोग', 'कार्यक्रमों में प्रवेश', 'डिजिटल सदस्य कार्ड'], 1),
('Premium', 'विशिष्ट सदस्यता (Premium)', 1500, ARRAY['मानक की सभी सुविधाएं', 'प्राथमिकता बैठने की व्यवस्था', 'लेखक कार्यशालाओं में छूट', 'भौतिक सदस्य कार्ड', 'वार्षिक स्मारिका'], 2),
('Patron', 'संरक्षक सदस्यता (Patron)', 100000, ARRAY['विशिष्ट की सभी सुविधाएं', 'वीआईपी अतिथि सम्मान', 'निर्णायक मंडल में स्थान', 'विशेष रात्रिभोज आमंत्रण', 'जीवन भर का सम्मान'], 3);

-- Create a trigger function that updates users.plan when membership_plans.name changes
CREATE OR REPLACE FUNCTION update_user_plan_on_rename()
RETURNS TRIGGER AS $$
BEGIN
    IF OLD.name IS DISTINCT FROM NEW.name THEN
        UPDATE public.users SET plan = NEW.name WHERE plan = OLD.name;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_plan_rename
    AFTER UPDATE OF name ON public.membership_plans
    FOR EACH ROW
    EXECUTE FUNCTION update_user_plan_on_rename();

-- allow anon/auth to select plans
ALTER TABLE public.membership_plans ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Public profiles are viewable by everyone." ON public.membership_plans FOR SELECT USING (true);
CREATE POLICY "Admins can insert" ON public.membership_plans FOR INSERT WITH CHECK (
  auth.uid() IN (SELECT id FROM public.users WHERE role = 'admin')
);
CREATE POLICY "Admins can update" ON public.membership_plans FOR UPDATE USING (
  auth.uid() IN (SELECT id FROM public.users WHERE role = 'admin')
);
CREATE POLICY "Admins can delete" ON public.membership_plans FOR DELETE USING (
  auth.uid() IN (SELECT id FROM public.users WHERE role = 'admin')
);